{% load static %}
{% include './Header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: whitesmoke;background-image:url(https://wallpapertag.com/wallpaper/middle/7/0/e/396380-top-blue-background-hd-1920x1080-720p.jpg
); background-repeat:no-repeat;width: 100%; background-size: cover">

<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 align="center">
        <img src="{% static '/images/img3.png' %}" class="mx-auto d-block" style="width:35%">
        <br>
    </h1>
</div>
</body>
{% include './Footer.html'%}

</html>